<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		body {
			background-color: #202020;
			color: #d0d0d0;
		}
	</style>
</head>
<body>

<h2>Login</h2>
<p><%= loginError %></p>
<form action="/login" method="post" id="login-form">
	<input type="text" placeholder="Username" name="username" id="username-login">
	<input type="password" placeholder="Password" name="password" id="password-login">
	<button id="login-btn">Login</button>
</form>

<br><br><br>

<h2>Register</h2>
<p><%= regError %></p>
<form action="/register" method="post" id="register-form">
	<span id="error"></span>
	<br>
	<input type="text" placeholder="Username" name="username" id="username">
	<input type="password" placeholder="Password" name="password" id="password">
	<input type="password" placeholder="Confirm Password" id="password-confirm">
	<button id="register-btn">Register</button>
</form>

<script>
	let register = {
		form: document.querySelector("#register-form"),
		password: document.querySelector("#password"),
		passwordConfirm: document.querySelector("#password-confirm"),
		error: document.querySelector("#error")
	}

	register.form.addEventListener("submit", async (evt) => {
		evt.preventDefault();

		register.error.textContent = "";
		if (register.password.value != register.passwordConfirm.value) {
			register.error.textContent = "Password do not match";
			return;
		}
		register.form.submit();
	})

</script>

</body>
</html>